.root {
	padding: 20px;
	text-align: center;
	h2 {
		font-size: 24px;
	}
	i {
		font-style: normal;
		font-size: 64px;
	}
	p {
		font-size: 18px;
	}
	.link {
		border-bottom: 1px dashed #fe5f1e;
		color: #fe5f1e;
	}
}
